#canvas {
    background-image: url("/images/screen-0\ \(1\).jpg");
    background-size: cover;
    justify-content: flex-end;
  }




  body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
/*   
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  } */
  
  body button {
    font-size: 20px;
    background-color: #a41aa8;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 20px;
    margin-bottom: 5px;
  }
/*   
  #game-board {
    float: left;
    padding: 20px 0px;
  }
   */