
  body button {
    font-size: 30px;
    background-color: #8d0092;
    color: #fff;
    padding: 17px 40px;
    border-radius: 20px;
    margin-top: -10px;
  }
  .logo-img {
    width: 340px;
  }
  .game-intro {
    flex-direction: column-reverse;
    justify-content: flex-start;
    float: left;
    padding: 3% 5%;
    display: block;
    width: 250px;
    align-self: auto;
    margin-top: -10px;
  }
  .game-intro p {
    font-size: 16px;
    font-family: "Verdana";
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
  }

  #game-board {
    float: left;
    padding: 0px 0px;
  }
  
  #canvas {
    background-image: url("images/room1.jpg");
    background-size: cover;
  }